pytest==8.3.5
coverage==7.8.0
python-dateutil==2.9.0.post0
pydantic[email]==2.11.4
email_validator==2.2.0
thefuzz==0.22.1
python-Levenshtein==0.27.1
google-genai==1.14.0
python-dotenv==1.1.0
json-repair==0.44.1
beautifulsoup4==4.13.4
readability-lxml==0.8.4.1
requests==2.32.3
pymongo==4.13.0
mongomock==4.3.0
pymongo-schema==0.4.1
duckdb==1.3.0
sqlglot[rs]==26.25.3
playwright==1.52.0
nest-asyncio==1.6.0
docstring_parser==0.16
quickjs==1.19.4
mermaid-python==0.1
tzlocal==5.3.1
qdrant-client==1.14.3
Whoosh==2.7.4
gdown==5.2.0
openpyxl==3.1.2
python-pptx==0.6.21
tqdm==4.66.1
libcst===1.8.2
google-generativeai==0.8.5
PyPDF2==3.0.1
freezegun==1.5.2
uvicorn==0.35.0
starlette==0.47.2
psutil==7.0.0
mcp==1.12.4
