.idea
.ipynb_checkpoints
.venv
__pycache__
.DS_Store


/results
/execution_logs
/notebooks
/clean_workspace
/executed_notebooks


/execution_configs.csv
/turing-delivery-g-ga-e36eb2300714.json
.DS_Store
